<mat-card>
  <mat-card-header>
    <mat-card-title>{{ title }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="uk-flex">
      <span class="uk-width-expand"></span>
      <button mat-flat-button color="accent" (click)="manageMatakuliahDetail('', -1)">Tambah Mata Kuliah</button>
    </div>
    <table class="uk-table uk-table-middle uk-table-divider">
      <thead>
        <th>No</th>
        <th>Kode Mata Kuliah</th>
        <th>Nama Mata Kuliah</th>
        <th align="right">#</th>
      </thead>
      <tbody>
        <tr *ngFor="let matkul of matkuls; let idx = index">
          <td>{{ idx + 1 }}</td>
          <td>{{ codematkuls[idx] }}</td>
          <td>{{ matkul }}</td>
          <td align="right">
            <button mat-button color="primary" (click)="manageMatakuliahDetail(matkul, idx)">Edit</button>
            <button mat-button color="warn" (click)="deleteMatakuliah(idx)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>
